.body {
    margin: 0;
    height: 100vh;
    background-color: green;
}

.nav-bar {
    height: 100px;
    background-color: rgb(18, 87, 56);

}

.header-margin {
    margin-bottom: 40px;
}

.header-brand {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 40px;
    margin-left: 10px;
}

.poke-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.poke-image{
    height: 100px;
}

.poke-image:hover{
    cursor: pointer;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.type-border{
    background-color: rgba(74, 70, 70, 0.293);
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    margin-right: 4px;
    margin-top: 16px;
}

.type-position{
    display: flex;
}

.poke-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 200px;
    box-sizing: border-box;
}

.type-normal {
    background-color: rgb(168,168,153);
}

.type-grass {
    background-color:rgb(88,169,81);
}

.type-fire {
    background-color: rgb(229,59,25);
}

.type-water {
    background-color: rgb(39,139,204);
}

.type-electric {
    background-color: rgb(229,198,0);
}

.type-ice {
    background-color: rgb(104,186,172);
}

.type-fighting {
    background-color: rgb(168,76,61);
}

.type-poison {
    background-color: rgb(134,74,184);
}

.type-ground {
    background-color: rgb(149,104,51);
}

.type-flying {
    background-color: rgb(135,181,229);
}

.type-psychic {
    background-color: rgb(229,89,115);
}

.type-bug {
    background-color:rgb(131,173,37);
}

.type-rock {
    background-color: rgb(168,153,91);
}

.type-ghost {
    background-color: rgb(99,60,100);
}

.type-dragon {
    background-color: rgb(77,100,171);
}

.type-dark {
    background-color:rgb(70,62,62);
}

.type-steel {
    background-color: rgb(153,153,168);
}

.type-fairy {
    background-color: rgb(212,128,207);
}

.footer {
    height: 80px;
    width: 100%;
    background-color: rgb(18, 87, 56);
    margin-top: 40px;
}

.btn-position {
    display: flex;
    justify-content: center;
}